a {
	text-decoration: none;
}

.jumbotron {
	padding-top: 1px;
	padding-bottom: 1px;
}

.jumbotron img {
	height: 30px;
	padding-right: 8px;
}

section {
	padding-bottom: 20px;
}

section h4 {
	font-weight: bold;
}

section h4 {
	text-align: center;
	padding-bottom: 8px;
}

hr {
	border-top: 1px dashed #eeeeee;
}

footer {
	padding-top: 10px;
	margin: 10px 0;
	border-top: 1px solid #eeeeee;
	text-align: center;
}

.descriptorDistributionChart {
	width: 100%;
	height: 250px;
}

canvas {
	width: 100%;
	background: #000000;
}

.btn-group {
	display: inherit;
}

.btn-group-x {
	overflow-x: scroll;
	white-space: nowrap;
}

.break-word {
	word-wrap: break-word;
}